@import "../components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "nav";

.page-header {
  margin-top: 0;
}

.page-footer {
  margin-top: 20px;
}

.text-bold {
  font-weight: bold;
}

.alert h4 {
	margin-top: 0;
}
